<% if can?(:admin, Spree::Relation) %>
  <li<%== ' class="active"' if current == "Related Products" %>>
    <%= link_to_with_icon 'thumbs-up', Spree.t(:relation_types, scope: [:admin, :tab]), related_admin_product_url(@product) %>
  </li>
<% end %>
